@import url("https://use.typekit.net/npp2uyw.css");
@import '../../node_modules/bulma/bulma.sass';
@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}

html, body {  width: 100%;
    margin: 0px;
    padding: 0px; overflow-x: hidden}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: .67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -.25em;
}
sup {
  top: -.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button;
}
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: myriad-pro, sans-serif !important;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  background-color: #f4f4f4;
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: myriad-pro, sans-serif !important;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: myriad-pro, sans-serif !important;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: myriad-pro, sans-serif !important;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: myriad-pro, sans-serif !important;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: myriad-pro, sans-serif !important;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: myriad-pro, sans-serif !important;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}


/*Header*/

.big-header {
  transition: top .6s;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

.big-header--hidden {
  top: -110px;
}

.header-logo img {
  width: 175px;
  margin-top: 20px;
}

.header-logo {
  background: #F70303;
  border-radius: 0px 0px 5px 5px;
  width: 200px;
  height: 100px;
  position: absolute;
  left: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.44);
}

@media only screen and (max-width: 1200px) {
  .header-logo {
    left: 50px;
  }
}

.language-selector {
  display: inline-block;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 500px;
}

.nav-menu a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}

.nav-menu a:hover {
  color: #EDEBEB
}

.language-selector{
    position: relative;
    top: 55px;
    right: 35px;
    font-size: 14px;
    font-weight: bold;
}

@media only screen and (min-width: 1088px) {
  .language-selector {
    top: 46px;
    right: 15px;
  }
}

.hamburger {
  width: 50px;
  position: relative;
  top: 48px;
}

.dropdown-menu.dropdown-right { left: calc(-250% + 4px); }

.button {
  font-size: 15px;
  background: #F70303 !important;
  color: white !important;
  border: none !important;
  font-weight: bold;
  box-shadow: 1px 1px 6px 0px rgba(0,0,0,0.44) !important;
}

.button:hover {
  color: #EDEBEB !important;
}

/*banner*/

.banner {
  background-image: url('../images/wecarewc-peoples-square.jpg');
  height: 100vh;
  background-size: cover !important;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  box-shadow: .5px .5px 6px 0px rgba(0,0,0,0.44) !important;
}

.slogan {
  position: absolute;
  bottom: 0px;
  background: #F70303;
  opacity: .9;
  color: white;
  font-weight: bolder;
  padding: 7px 15px 0px 15px;
  border-radius: 5px 5px 0px 0px;
  font-size: 17px;
}

.icons-homepage img {
  height: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.icons-homepage {
  padding: 6rem 0;
  width: 90%;
  margin: 0 auto !important;
}

.icons-homepage p {
  font-size: 13px;
  color: #526C78;
  width: 80%;
  margin: 0 auto;
}

.icons-homepage h5 {
  color: #526C78;
  font-weight: bold;
  padding-bottom: 10px;
}

.has-image-centered {
  margin: 0 auto;
}

.marker {
  background-image: url('../images/where-icon-red.png');
  background-size: cover;
  width: 40px;
  height: 50px;
  cursor: pointer;
}

#map-button {
  background-color: #677e8a !important;
  font-size: 13px !important;
  position: absolute !important;
  bottom: 40px;
  right: 100px;
  font-weight: normal;
  z-index: 1;
}

#map {
  box-shadow: .1px .1px 4px 0px rgba(0,0,0,0.2) !important;
}

.partners-home {
  padding: 6rem 0;
  background: white;
}

.partners-home h1 {
  color: #526C78;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
}

.partners-home p {
  color: #526C78;
  padding-bottom: 10px;
  font-size: 13px;
  width: 350px;
  margin: 0 auto;
}

.partners-logos {
  width: 70% !important;
  margin: 0 auto !important;
}

.partners-logos img {
  width: 200px;
  transition: filter .5s ease-in-out;
  filter: grayscale(0%);
  opacity: 1;
}

.partners-logos img:hover {
  filter: grayscale(100%);
  opacity: .7 !important;
}

@media only screen and (max-width: 768px) {
  .partners-logos img {
    width: 100px;
  }
}

.blog img {
  width:250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
}

.blog-img {
  background-size: cover;
  width:250px;
  height: 175px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
  margin-bottom: 20px;
}

.blog {
  padding: 6rem 0;
  width: 90%;
  margin: 0 auto !important;
}

.blog p {
  font-size: 13px;
  color: #526C78;
  width: 250px;
  margin: 0 auto;
  color: #526C78;
}

.blog h5 {
  width: 250px;
  margin: 0 auto;
  font-weight: bolder;
  color: #526C78;
  padding-bottom: 20px;
}

.blog h1 {
  color: #526C78;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 30px;
}

.spacing {
  margin-bottom: 20px;
}



/*footer*/

.footer {
  background-color: #EDEBEB !important;
}

.footer h1 {
  color: #526C78;
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
}

.footer h2 {
  color: #526C78;
  font-weight: bold;
  font-size: 15px;
  padding-bottom: 5px;
}

.footer p {
  color: #526C78;
  font-size: 13px;
  margin: 0;
}

.footer a:hover {
  font-weight: bolder;
}

.wechat-icon-footer img {
  width: 120px;
  transition: .3s;
  transform: scale(1);
}

.wechat-icon-footer img:hover {
  transform: scale(1.025);
}

.mailer-footer {
  padding-left: 100px !important;
}

@media only screen and (max-width: 972px) {
.mailer-footer {
  padding-left: 10px !important;
}
}

.center-that-text {
  border-right: 1px rgba(82, 108, 120, .2) solid;
  width: 50%;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
.center-that-text {
  border-right: none;
  width: 100%;
}
}

.address-phone-footer {
  padding-top: 70px !important;
}

#bold {
  font-weight: bold;
}

#grey {
  background: #526C78 !important;
}

.label {
  color: #526C78 !important;
}

.copyright p {
  color: #526C78;
  font-size: 13px;
  margin-bottom: 0 !important;
}

/*blog*/

.blog-banner {
  height: 60vh;
  background-size: cover !important;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  box-shadow: .5px .5px 6px 0px rgba(0,0,0,0.44) !important;
  h1 {
    color: white;
    padding-top: 30px;
  }
}

#small-banner {
  height: 50vh;
}

.blog-post h1 {
  color: #526C78;
  font-size: 40px;
  font-weight: bolder;
  padding-bottom: 20px;
}

.blog-post p {
  color: #526C78;
  font-size: 15px;
}

.blog-post img {
  padding: 20px 0;
}

.blog-post h2 {
  color: #526C78;
  font-size: 25px;
  font-weight: bolder;
}

.blog-post {
  position: relative;
  width: 80%;
  max-width: 710px;
  margin: 4rem auto;
  word-wrap: break-word;
}


// About Page

.about-wrap {
  width: 70%;
  margin: 0 auto;
  padding: 6rem 0;
  h1 {
    color: #526C78;
    font-weight: bold;
    font-size: 21px;
    padding-bottom: 10px;
  }
  h2 {
    color: #526C78;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
  }
  p {
    color: #526C78;
    font-size: 13px;
  }
  img {
    height: 99px;
  }
}

#justthisonce {
  height: auto !important;
}


.parallax {
  /* The image used */
  background-image: linear-gradient(rgba(0,0,0,0.1),rgba(255,255,255,0.3)), url("../images/wecarewc-sinopec-ads.jpg");

  /* Set a specific height */
  height: 50vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#about-button1 {
  background-color: #677e8a !important;
  font-size: 13px !important;
  font-weight: normal;
  z-index: 1;
}


//map

.mapboxgl-control-container {
  width: 200px !important;
}

.mapboxgl-popup-content {
  h3 {
    margin-bottom: 0 !important;
    font-size: 15px;
    color: #677e8a !important;
  }
  img {
    width: 55px !important;
    margin-bottom: 0 !important;
  }
  p {
    margin-bottom: 0.5rem !important;
    color: #677e8a !important;
  }
}

.custom-form {
  background-color: #f4f4f4 !important;
}


.css-2b097c-container {
  background-color: #f4f4f4 !important;
  &:focus {
    outline: none;
  }
}




// burger menu

/* Individual item */
.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #677e8a;
  transition: color 0.2s;
  font-size: 16px;
}

/* Change color on hover */
.bm-item:hover {
  color: #677e8a;
  outline: none;
}

/* The rest copied directly from react-burger-menu docs */

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 70px;
  top: 55px;
}

@media only screen and (min-width: 1088px) {
  .bm-burger-button {
    display: none;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: white;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

.bm-menu-wrap {
  position: absolute;
  height: 100%;
  z-index: 1000;
}
/* General sidebar styles */
.bm-menu {
  background: #f4f4f4;
  opacity: .98;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */


/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.6em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.5);
}


.grey {
  background-color: #677e8a !important;
}


// location wrap

.location-wrap {
  width: 80%;
  margin: 0 auto;
  padding: 6rem 0;
  h1 {
    color: #526C78;
    font-weight: bold;
    font-size: 25px;
    padding-bottom: 30px;
    padding-top: 50px;
  }
  h2 {
    color: #526C78;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
  }
  p {
    color: #526C78;
    font-size: 13px;
  }
}

@media only screen and (max-width: 768px) {
  .location-wrap {
  width: 100%;
  }
}

.image-gallery-slide img {
  margin-bottom: 0;
}

.image-gallery-thumbnail img {
  width: auto !important;
  height: 75px !important;
  margin-bottom: 0;
}

.image-gallery-thumbnail {
  width: auto;
}

.image-gallery-right-nav::before {
  opacity: .5;
  text-shadow: 0 0px 0px #1a1a1a !important;
  font-size: .5em;
}

.image-gallery-left-nav::before {
  opacity: .5;
  text-shadow: 0 0px 0px #1a1a1a !important;
  font-size: .5em;
}

.image-gallery-fullscreen-button::before {
  opacity: .5;
  text-shadow: 0 0px 0px #1a1a1a !important;
  font-size: 1.5em;
}
